body {
    padding: 10px;
}

header {
    margin-bottom: 10px;
}

#Error .modal-body {
    font-size: 14px;
}

.bbf-radio input[type=radio] {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
}

.bbf-radio label {
    display: inline-block;
    vertical-align: baseline;
}
